In [31]:
import pandas as pd
import requests

In [32]:
df = pd.DataFrame()

In [33]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','genre_ids']]
    df = pd.concat([df,temp_df],ignore_index=True)

In [34]:
df.head()

,id,title,overview,genre_ids
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,389,12 Angry Men,The defense and the prosecution have rested an...,[18]

In [35]:
genre_url  = 'https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US'
g_response = requests.get(genre_url)
genres = g_response.json()['genres']

genre_dict = {g['id']: g['name'] for g in genres}

In [36]:
df['genres'] = df['genre_ids'].apply(
    lambda x: [genre_dict[i] for i in x]
)

In [37]:
df['genres'] = df['genres'].apply(lambda x: ", ".join(x))

In [38]:
df.drop(columns=['genre_ids','id'],inplace=True)

In [41]:
df.to_csv("MovieDataset.csv")

In [43]:
df.shape

(8560, 3)